<html>
    <head>
        <title>Youtubify</title>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    </head>
    <body>
        <h2>
            Hi {{username}} <small><a href="/sign_out">[sign out]<a/></small>
        </h2>
        <img src="https://avatarfiles.alphacoders.com/108/108675.gif" alt="Kana Gif"  width="250" />
        <form action="post_playlist_url" method="POST">
            <input name="playlist_url_textbox">
            <input type="submit" onclick="$('#loading').show();">
        </form>
    </body>
</html>
