{%extends "base.html"%}
    {%block title%}Youtubify{%endblock%}
    {%block style%}
    <style>
    body{
        margin: 0px;
            padding: 0px;
            height: 100vh;
                background: linear-gradient(45deg,#23272A 20%,transparent),url(https://media1.tenor.com/images/4752f2a8fc5db930ffcec3f3f3b6d4fe/tenor.gif);
                background-size:cover;
                color:white;
                text-align:center;
    }
</style>
    {%endblock%}
    {%block content%}
        <h2 style="margin-top:30px">Converting your playlist, please wait...</h2>
    {%endblock%}
